---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import IndexHero from '../components/IndexHero.astro';
---

<head>
	<title>Alvana.io | Coming Soon...</title>
</head>

<GlobalLayout>
	<body>

	</body>
</GlobalLayout>