---
import '../styles/global.css';
import { gsap } from "gsap";
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<body>
    <Navbar />
        <slot />
    <Footer />
</body>